
  <div class="jumbotron text-center">
    <h1>Riddler</h1>
    <p>Start your riddler game right here after you login</p>
  </div>

  <div class="conatiner">
    <div class="row">
      <div class="col-sm-6">
      <questions></questions>
      <div class="container">
      <form class="form-inline">
        <div class="form-group">
          <div class="container">
            

            <div class="modal fade" id="signin" role="dialog" data-backdrop="false">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body">
                      <tasks>Loading</tasks>

                  </div>
                </div>

              </div>
            </div>

            <div class="modal fade" id="leaders" role="dialog" data-backdrop="false">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body">
                      <leaders>Loading</leaders>

                  </div>

                </div>

              </div>
            </div>

          </div>
        </div>
      </form>
    </div>

      </div>

      <div class="col-sm-4">

      </div>
    </div>
  </div>
