/* VARIABLES */
/* BASE */
html,
body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.bg-img{
  position: fixed;
  left: -100px;
  right: 100px;
  top:-100px;
  z-index: -1;

  background-image: url('http://wallpapercave.com/wp/TfKat02.jpg');
  background-repeat: no-repeat;
  width: 200%;
  height: 200%;

  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

a {
  text-decoration: none;
  color: inherit;
}

.rocket{
  height: 40px;
  width:80%;
}

.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 80%;
    padding: 5px;
}

.modal-dialog{
    width: auto;
    height: auto;
    max-height: 80%;
    max-width: 100%;
    padding: 5px;
}
a:hover{
  background-color: rgba(53, 53, 53, 0.7);
  text-decoration: none;
}

.container {
  overflow: hidden;
  *zoom: 1;
  margin: 0 20px;
}

.site-content {
  padding-top: 66px;
}

.textQues{
  text-align: center;
  float: center;
  font-size: 1.3em;
  color: white;
  display: block;
  font-weight: 400;
  margin-top: 25%;
  position: relative;
  text-decoration: none;
}

/* HEADER */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #fff;
  background-color: rgba(17, 37, 142, 0);
  border: 0px;
  box-shadow: 0px 10px 60px rgba(17, 37, 142, 0);
}

a:hover{
  animation: shadow .3s ease;
  -webkit-animation: shadow .3s ease;
}

@keyframes shadow{
  from{tansform: box-shadow: 0px 10px 60px rgba(17, 37, 142, 0.6);}
  to{box-shadow: 0px 0px 60px rgba(17, 37, 142, 0.6);}
}

.header__logo {
  font-weight: 700;
  padding: 0 25px;
  float: left;
}

/* MENU */
.menu .tabs{
  float: right;
  color: aqua;
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}
.menu .tabs:hover{
  background-color: aqua;
  color:#fff;
}
.roundProfile{
  border-radius:25px;
  width: 50px;
  height: 50px;
  position: relative;
}
.menu h4 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  color: white;
}

.menu .tabs: hover {
  color: white;
  background-color: aqua;

}

.mobMenu{
  display: none;
}


#answer
{
  position: absolute;
  float: left;
  margin-top: 1px;
  padding-top: 0.415%;
  padding-bottom: 0.415%;
  padding-right: 20px;
  margin-left: -100px;
  transition: border 0.3s;
  height: 43px;

}

#answer:hover
{
  border: solid 3px rgba(255,255,255,0.1);
}

#answer:hover ~ .bg-img{
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

#submit{
  position: relative;
  margin-top: 100px;
  padding-top: 0.415%;
  margin-left: 100px;
  padding-bottom: 0.415%;
  transition: border 0.3s;
  height: 40px;
}


#Hint{
  position: relative;
  margin-top: 10vm;
  padding-top: 0.415%;
  padding-bottom: 0.415%;
  transition: border 0.3s;
  margin-left:20px;
  &:hover:after {
		-webkit-animation: bounceright .3s alternate ease infinite;
		animation: bounceright .3s alternate ease;
	}
}

@keyframes bounceright {
	from { transform: rotateX(0);; }
	to   { transform: rotateX(3px); }
}

/* RESPONSIVE */


@media only screen and (max-width: 900px){

  #Hint{
    margin-left:0%;
  }
}


@media only screen and (max-width: 840px) {
  #answer{
    margin-left: -75vm;
  }
  #submit{
    margin-left: 20%;
  }
  .site-pusher,
  .site-container {
    height: 100%;
  }

  .datFLine{
    display:none;
  }

  .site-pusher {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: none;
    -webkit-overflow-scrolling: touch;
  }

  .header {
    position: static;
  }

  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }

  .map__icon {
    position: relative;
    display: block;
    float: right;
    width: 50px;
    height: 66px;
    cursor: pointer;
    background-image: url('https://image.flaticon.com/icons/png/128/55/55212.png');
    background-size: 53px 58px;
    background-repeat: no-repeat;
  }

  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
  }

  body{
    overflow-y: auto;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(17, 37, 142,0);
    /*    overflow-y: scroll;
        -webkit-overflow-scrolling: touch;*/
    width: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .mobMenu{
    display: block;
  }
  .menu h4 {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 80px;
  }

  #rank{
    font-family: 'Algeria', fantasy;
    font-size:3em;
    margin-top: 20px;
  }

  .menu img {
    display: block;
    height: 80px;
    width:80px;
    margin-left: 45%;
    margin-top: 10%;
    margin-bottom: 0px;
    text-align: center;
    line-height: 80px;
    border-radius: 80px;
  }
  .webView{
    display:none;
  }

  .with--sidebar .site-pusher {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    background-color: rgbs;
  }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .mapp {
    position: absolute;

    /*    overflow-y: scroll;
        -webkit-overflow-scrolling: touch;*/
    width: 90%;
    top: -80px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    -webkit-transform: translateX(112%);
    transform: translateX(112%);
  }

  .maping .site-pusher {
    -webkit-transform: translateX(-90%);
    transform: translateX(-90%);
  }


  .img{
    padding: 15px;
    margin:15px;
  }
}


@media only screen and (max-width: 765px) {

    #answer{
      margin-left: 5%;
      padding-right: 30%;
    }
    #submit{
      margin-left: 75%;
    }

    #Hint{
      margin-left: 35%;
    }
    .textQues{
      margin-left: 0%;
    }

}

@media only screen and (max-width: 700px) {

    #answer{
      margin-left: 5%;
      padding-right: 10%;
    }
    #submit{
      margin-left: 55%;
    }

    .menu img{
      margin-left: 45%;
    }

}

@media only screen and (max-width: 650px) {

    #answer{
      margin-left: 5%;
      padding-right: 5%;
    }
    #submit{
      margin-left: 55%;
    }

    #Hint{
      margin-left: 30%;
    }

    .menu img{
      margin-left: 40%;
    }

}

@media only screen and (max-width: 550px) {

    #answer{
      margin-left: 0%;
      padding-right: 0%;
    }
    #submit{
      margin-left: 55%;
      width:60%;
    }


}
@media only screen and (max-width: 480px) {
  #Hint{
    margin-left: 20%;
  }
}

@media only screen and (max-width: 400px) {
  #answer{
    margin-left: -6%;
    width:50%;
  }
  #submit{
    margin-left: 65%;
    width:40%;
  }
  #Hint{
    margin-left: 20%;
    margin-top: 20%;
  }

}

table-responsive{
  border: none;
}

table {
  width: 100%;
  max-width: 600px;
  height: 320px;
  border-collapse: collapse;
  border: 2px solid #38678f;
  margin: 50px auto;
  background: white;
  border-radius: 2px;
}
th {
  background: white;
  height: 54px;
  width: 25%;
  font-weight: lighter;
  text-shadow: 0 1px 0 #38678f;
  color: #0c093a;
  border: 2px solid #38678f;
  box-shadow: inset 0px 1px 2px #568ebd;
  transition: all 0.2s;
  border-radius: 2px;
}
tr {
  border-bottom: 2px solid #cccccc;
}
tr:last-child {
  border-bottom: 0px;
}
td {
  border-right: 1px solid #cccccc;
  padding: 10px;
  transition: all 0.2s;
}
td:last-child {
  border-right: 0px;
}
td.selected {
  background: #d7e4ef;
  z-index: ;
}
td input {
  font-size: 14px;
  background: none;
  outline: none;
  border: 0;
  display: table-cell;
  height: 100%;
  width: 100%;
}
td input:focus {
  box-shadow: 0 1px 0 steelblue;
  color: steelblue;
}
::-moz-selection {
  background: steelblue;
  color: white;
}
::selection {
  background: steelblue;
  color: white;
}
.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;

  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }

  @media(min-width: 600px) {

    &:nth-of-type(even) {
      margin-right: 2.5em;
    }

    &:nth-of-type(5) {
      margin-right: 0;
    }

  }

  &:hover { text-decoration: none; }

}

@import url('https://fonts.googleapis.com/css?family=Lato');
* {
  box-sizing: inherit;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}


p {
  color: #fff;
  font-size: 12px;
}

p a {
  background: rgba(255, 255, 255, 0);
  color: #fff;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
}
p a:hover {
  background: white;
  color: #E1332D;
}


@media (min-width: 600px) {
  .btn:nth-of-type(even) {
    margin-left: 0.25em;
  }
  .btn:nth-of-type(5) {
    margin-left: 0;
  }
}
.btn:hover {
  text-decoration: none;
}

.btn-1 {
  font-weight: 100;
  z-index: 2;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;

  width: 100%;
}
@media only screen and (max-width: 440px) {
  .btn-1 svg{
    left:0;
    margin-top: 0px;
    padding:400%:
  }
}
.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 8;
  stroke-dasharray: 222, 0;
  stroke:#6d29b2;
  /*fill: rgba(109, 41, 178,0.3);*/
}

.btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  float:right;
  z-index:10;
  padding: 20px;
  margin-top: 70px;
  background: #fff;
  width: 15%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.has-overlay {
  overflow: hidden;
}
.has-overlay > body {
  height: 100%;
  overflow-y: scroll;
}

.semantic-content {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  opacity: 0;
  color: #222;
  line-height: 1.3;
  display: none\9;
}
.semantic-content:target {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.is-active.semantic-content {
  display: block\9;
}
.semantic-content .modal-inner {
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 20;
  margin-left: -325px;
  width: 650px;
  overflow-x: hidden;
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}
.semantic-content .modal-inner > img,
.semantic-content .modal-inner > video,
.semantic-content .modal-inner > iframe {
  width: 100%;
  height: auto;
  min-height: 300px;
}
.semantic-content .modal-inner > img {
  width: auto;
  max-width: 100%;
}
.semantic-content header {
  border-bottom: 1px solid #dddddd;
  padding: 0 1.2em;
}
.semantic-content header > h2 {
  margin: 0.5em 0;
}
.semantic-content .modal-content {
  max-height: 400px;
  max-height: 70vh;
  border-bottom: 1px solid #dddddd;
  padding: 15px 1.2em;
  overflow-x: hidden;
  overflow-y: auto;
}
.semantic-content .modal-content > * {
  max-width: 100%;
}
.semantic-content footer {
  border-top: 1px solid white;
  padding: 0 1.2em 18px;
  background: #f0f0f0;
  border-radius: 2px;
}
.semantic-content .modal-close {
  display: block;
  text-indent: -100px;
  overflow: hidden;
}
.semantic-content .modal-close:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AAAAAMwA0QDNTiUx4gAAAABJRU5ErkJggg==");
}
.semantic-content .modal-close:after {
  content: '×';
  position: absolute;
  top: 25px;
  left: 50%;
  z-index: 20;
  margin-left: 285px;
  background: #fff;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 1.2em;
  text-decoration: none;
  text-indent: 0;
}
@media screen and (max-width: 690px) {
  .semantic-content .modal-inner {
    width: auto;
    left: 20px;
    right: 20px;
    margin-left: 0;
  }
  .semantic-content .modal-close {
    left: auto;
    right: 33px;
    margin-left: 0;
  }
  .semantic-content .modal-close:after {
    margin-left: 40%;
  }
  .rocket{
    padding-right: -60%;
  }
}
@media screen and (max-width: 30em) {
  .semantic-content {
    -webkit-transform: translate(0, 400px);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform 0.25s ease-in-out, opacity 1ms 0.25s;
    -moz-transition: -moz-transform 0.25s ease-in-out, opacity 1ms 0.25s;
    -o-transition: -o-transform 0.25s ease-in-out, opacity 1ms 0.25s;
    -ms-transition: -ms-transform 0.25s ease-in-out, opacity 1ms 0.25s;
    transition: transform 0.25s ease-in-out, opacity 1ms 0.25s;
    display: block;
    height: 100%;
    bottom: auto;
  }
  .semantic-content:target {
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -moz-transition: -moz-transform 0.25s ease-in-out;
    -o-transition: -o-transform 0.25s ease-in-out;
    -ms-transition: -ms-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
  }
  .semantic-content:before {
    background-color: #27aae2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#27aae2), to(#1c9cd3));
    background-image: -webkit-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: -moz-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: -o-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: linear-gradient(to bottom, #27aae2, #1c9cd3);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    height: 3em;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
  .semantic-content .modal-inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 3em;
    height: 100%;
    overflow: scroll;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .semantic-content .modal-content {
    max-height: none;
  }
  .semantic-content .modal-close {
    right: auto;
    text-decoration: none;
  }
  .semantic-content .modal-close:before {
    display: none;
  }
  .semantic-content .modal-close:after {
    content: 'Close';
    top: 0.4em;
    left: 1em;
    z-index: 40;
    margin-left: 0;
    font-size: 1em;
    padding: 0.5em 1em;
  }
}
@media screen and (max-height: 46em) and (min-width: 30em) {
  .semantic-content .modal-content {
    max-height: 340px;
    max-height: 50vh;
  }
}
@media screen and (max-height: 36em) and (min-width: 30em) {
  .semantic-content .modal-content {
    max-height: 265px;
    max-height: 40vh;
  }
}

@media screen and (min-width: 30em) {
  .semantic-content {
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
}
